<IfModule mod_rewrite.c>
RewriteEngine On

# Redirect to lowercase URL
RewriteMap lowercase int:tolower
RewriteCond %{REQUEST_URI} [A-Z]
RewriteRule ^(.*?)$ /${lowercase:$1} [L,R=301]

# Redirect to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

</IfModule>